apiVersion: v1
kind: ConfigMap
metadata:
  name: promtail-config
  namespace: monitoring
data:
  promtail.yaml: |
    server:
      http_listen_port: 9080
      grpc_listen_port: 0

    positions:
      filename: /tmp/positions.yaml

    clients:
      - url: http://observability-loki:3100/loki/api/v1/push

    scrape_configs:
    # 1. Intento con Metadata (El que estábamos probando, pero con la ruta explicita del ls)
    # Ruta: Namespace_PodName_UID / Container / *.log
    - job_name: kubernetes-pods
      kubernetes_sd_configs:
      - role: pod
      relabel_configs:
      - action: labelmap
        regex: __meta_kubernetes_pod_label_(.+)
      - action: replace
        source_labels: [__meta_kubernetes_namespace]
        target_label: namespace
      - action: replace
        source_labels: [__meta_kubernetes_pod_name]
        target_label: pod
      - action: replace
        source_labels:
          - __meta_kubernetes_namespace
          - __meta_kubernetes_pod_name
          - __meta_kubernetes_pod_uid
          - __meta_kubernetes_pod_container_name
        separator: /
        # Usamos asteriscos en los separadores por si Kind usa guiones o barras bajas
        replacement: /var/log/pods/*$1*$2*$3*/$4/*.log
        target_label: __path__

    # 2. LA NUCLEAR: Si lo de arriba falla, esto lee TODO a la fuerza.
    # Aparecerán en Loki con label {job="varlogs"}
    - job_name: system-logs
      static_configs:
      - targets:
        - localhost
        labels:
          job: varlogs
          __path__: /var/log/pods/*/*/*.log