apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base

namespace: dev
namePrefix: dev-

commonLabels:
  environment: development

patches:
- target:
    kind: Deployment
    name: web-demo
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 1
