apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base

namespace: prod
namePrefix: prod-

commonLabels:
  environment: production

patches:
- target:
    kind: Deployment
    name: web-demo
  patch: |-
    - op: replace
      path: /spec/replicas
      value: 3
